.DS_Store
._.DS_Store
.Rhistory
._README.md
._batch.sh
._smaltalign.sh
._wts.R
References/*.fasta.fai
._sampleID_to_filename.xltx
flugenomes*.fasta.*
.venv/
.eggs/
build/
SmaltAlgin.egg-info/
src/SmaltAlgin.egg-info/
